name: Publish release

on:
  push:
    tags:
      - '*'

jobs:
  publish-release:
    runs-on: macos-latest

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v1
      - name: Extract secret properties
        env:
          SECRET_PROPERTIES: ${{ secrets.SECRET_PROPERTIES }}
        run: echo "$SECRET_PROPERTIES" >> ./gradle.properties
      - name: Publish artifacts
        env:
          PGP_KEY: ${{ secrets.PGP_KEY }}
        run: |
          version=${GITHUB_REF/refs\/tags\//}
          echo "Version: $version"
          ./gradlew -Pversion=${version} publish
      - name: Release and close repo
        run: ./gradlew closeAndReleaseRepository
